<md-tabs md-dynamic-height md-border-bottom>
    <form name="profile">
        <md-tab label="PROFILE" layout="column">
            <md-input-container class="md-block">
                <label>Name</label>
                <input required  maxlength="100" name="name" ng-model="$ctrl.user.userName">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Email (Login)</label>
                <input required type="email" name="email" ng-model="$ctrl.user.userEmail">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Position</label>
                <input required name="position" ng-model="$ctrl.user.position">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Office phone</label>
                <input pattern="/^(\d+)+$/" name="officePhone" ng-model="$ctrl.user.officePhone">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="$ctrl.update($ctrl.user)">Save</md-button>
        </md-tab>
    </form>
    <md-tab label="PASSWORD">
        <user-password-edit on-update="$ctrl.pwupdate(oldPassword, newPassword)"></user-password-edit>
    </md-tab>
    <md-tab label="PERMITION">
        <md-button class="md-raised md-primary" ng-click="$ctrl.update($ctrl.user)">Save</md-button>
    </md-tab>
</md-tabs>