<div ng-form="userPasswordEdit" ng-model-options="{ allowInvalid : true }">
    <md-input-container class="md-block">
        <label>Old password</label>
        <input type="password" required name="oldPassword" ng-model="$ctrl.oldPassword" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,8}$">
        <div ng-show="userPasswordEdit.oldPassword.$touched" layout="column">
            <span role="error" ng-show="userPasswordEdit.oldPassword.$error.required">Required</span>
            <span role="error" ng-show="userPasswordEdit.oldPassword.$error.pattern">Pattern</span>
        </div>
    </md-input-container>
    <md-input-container class="md-block">
        <label>New password</label>
        <input type="password" required name="newPassword" ng-model="$ctrl.newPassword" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,8}$">
        <div ng-show="userPasswordEdit.newPassword.$touched" layout="column">
            <span role="error" ng-show="userPasswordEdit.newPassword.$error.required">Required</span>
            <span role="error" ng-show="userPasswordEdit.newPassword.$error.pattern">Pattern</span>
        </div>
    </md-input-container>
    <md-input-container class="md-block">
        <label>Confirm new password</label>
        <input type="password" required name="newPasswordConfirmed" ng-model="$ctrl.newPasswordConfirmed" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,8}$">
        <div ng-show="userPasswordEdit.newPasswordConfirmed.$touched" layout="column">
            <span role="error" ng-show="userPasswordEdit.newPasswordConfirmed.$error.required">Required</span>
            <span role="error" ng-show="userPasswordEdit.newPasswordConfirmed.$error.pattern">Pattern</span>
        </div>
    </md-input-container>
    <md-button class="md-raised md-primary" ng-disabled="!userPasswordEdit.$valid" ng-click="$ctrl.tryPasswordUpdate()">Change</md-button>
</div>