<div>
    <form name="userPasswordEdit" ng-model-options="{ allowInvalid : true }">
        <md-input-container class="md-block">
            <label>Old password</label>
            <input type="password" required name="oldPassword" ng-model="$ctrl.oldPassword">
            <div role="alert">
                <span type="error" ng-show="userPasswordEdit.oldPassword.$error.required">Required</span>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>New password</label>
            <input type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,8}$" name="newPassword" ng-model="$ctrl.newPassword">
            <span type="error" ng-message="user-password-edit.newPassword.$error.pattern">Do not match the pattern</span>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Confirm new password</label>
            <input type="password" required name="newPasswordConfirmed" ng-model="$ctrl.newPasswordConfirmed">
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="$ctrl.tryPasswordUpdate()">Change</md-button>
    </form>
</div>