<div ng-form="userPasswordEdit" ng-model-options="{ allowInvalid : true }">
    <md-input-container class="md-block">
        <label>Old password</label>
        <input type="password" required name="oldPassword" ng-model="$ctrl.oldPassword" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,8}$">
    </md-input-container>
    <div ng-show="userPasswordEdit.oldPassword.$touched" layout="column">
        <span role="error" ng-show="userPasswordEdit.oldPassword.$error.required">Required</span>
        <span role="error" ng-show="userPasswordEdit.oldPassword.$error.pattern">Pattern</span>
    </div>
    <div layout="column">
        <span>T: {{userPasswordEdit.oldPassword.$touched}}</span>
        <span>R: {{userPasswordEdit.oldPassword.$error.required}}</span>
        <span>P: {{userPasswordEdit.oldPassword.$error.pattern}}</span>
    </div>
    <md-input-container class="md-block">
        <label>New password</label>
        <input type="password" required name="newPassword" ng-model="$ctrl.newPassword" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,8}$">
    </md-input-container>
    <div ng-show="userPasswordEdit.newPassword.$touched" layout="column">
        <span role="error" ng-show="userPasswordEdit.newPassword.$error.required">Required</span>
        <span role="error" ng-show="userPasswordEdit.newPassword.$error.pattern">Pattern</span>
    </div>
    <div layout="column">
        <span>T: {{userPasswordEdit.newPassword.$touched}}</span>
        <span>R: {{userPasswordEdit.newPassword.$error.required}}</span>
        <span>P: {{userPasswordEdit.newPassword.$error.pattern}}</span>
    </div>
    <md-input-container class="md-block">
        <label>Confirm new password</label>
        <input type="password" required name="newPasswordConfirmed" ng-model="$ctrl.newPasswordConfirmed" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,8}$">
    </md-input-container>
    <div ng-show="userPasswordEdit.newPasswordConfirmed.$touched" layout="column">
        <span role="error" ng-show="userPasswordEdit.newPasswordConfirmed.$error.required">Required</span>
        <span role="error" ng-show="userPasswordEdit.newPasswordConfirmed.$error.pattern">Pattern</span>
    </div>
    <div layout="column">
        <span>T: {{userPasswordEdit.newPasswordConfirmed.$touched}}</span>
        <span>R: {{userPasswordEdit.newPasswordConfirmed.$error.required}}</span>
        <span>P: {{userPasswordEdit.newPasswordConfirmed.$error.pattern}}</span>
    </div>
    <md-button class="md-raised md-primary" ng-disabled="!userPasswordEdit.$valid" ng-click="$ctrl.tryPasswordUpdate()">Change</md-button>
</div>